name: Playwright API Automation Docker

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  docker-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: docker build -t fhir-playwright .

      - name: Run tests inside Docker
        run: docker run --env-file .env fhir-playwright
